<nav class="navbar navbar-expand-lg navbar-light bg-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center row ml-5">
        <li class="nav-item pl-3 col-12 mt-3">
          <p class="m-0 ml-5 mb-1 font-weight-bold fs-titulo g-color ">Armazém Natural</p>
        </li>
        <li class="nav-item pl-3 col">
          <p class="m-0 ml-5 font-weight-bold fs-subtitulo g-color">Por você. Para você.</p>
        </li>
      </ul>
      <div class="d-flex align-items-center row">
      <ul class="navbar-nav ml-auto co-md-12">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold fs-16 g-color"><i class="fa fa-user-circle g-color" aria-hidden="true"></i> Login 
            </a>
          </li>

          <li>
            <i class="fa fa-shopping-basket ml-2 g-color" aria-hidden="true"></i>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ml-auto col-md-12">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
    </div>
    
  </nav>
